body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  padding-top: 30px;
}

.nav-content > .brand-logo {
  padding-left: 15px;
}

.collection-item p {
  margin-top: 5px;
}

a.editable {
  color: #333;
}
